
.is-active
  color: #0291b1
  text-decoration: none
  position: relative
  border-bottom: 2px solid #0291b1  

.is-not-active
  color: inherit
  text-decoration: none

.is-not-active:hover
  color: #0291b1
